*{
    padding: 0%;
    margin: 0%;
    font-family: "Merriweather", serif;
    font-weight: 400;
}
.primary-btn{
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;  
    border-radius: 8px;
    background: #F00;
    padding: 16px 32px;
    border: 0px;          
}
/* Banner section style */
.Banner{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFF;
    width: 1320px;
    height: 600px;
    margin: 0 auto;
    margin-top: 50px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url(../asset/Banner\ Image.png);
    background-repeat: no-repeat;
    border-radius: 16px;   
}


.banner-title{
    color: #FFF;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 16px;
}
.banner-sub-title{
    width: 632px;
    color: #FFF;
    padding-left: 344px;
    padding-right: 344px;
}
.banner-sub-title h1{
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}
/* banner section style end */



/* HOLIDAY DEALS Section start */

.holiday-deal{
    width: 1600px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    margin-top: 120px;

}

.deal-title{
    color: #F00;
    font-size: 88px;
    font-weight: 700;
}

.deal-sub-title{
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin-top: 48px;
    margin-bottom: 16px;
}


.categories{
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
}
.deal-img{
    width: 802.9px;
    height: 500px;
}
/* HOLIDAY DEALS Section End */

/* midnight party Section start */
.midnight-party{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 1320px;
    height: 600px;
    margin: 0 auto;
    margin-top: 120px;
    background:linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url('../asset/Vectorrr.png');
    background-repeat: no-repeat;
    border-radius: 16px;   

}
.midnight-party-contains{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.midnight-contain{
    width: 697px;
    color: #FFF;
}

.midnight-contain-title{
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;    
}
.midnight-contain-description{
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;   
    margin-top: 24px;
    margin-bottom: 48px;
}
.midnight-btn{
    margin-left: 90px;
}
.midnight-img{
    width: 319.83px;
    height: 464.662px;
    padding: 0.008px 0px 0px 0px;    
}

/* midnight party Section end */





/* detail section start */
.detail{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1320px;
    height: 482px;
    margin: 0 auto;
    background:linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    border-radius: 16px; 
    margin-top: 120px;
    margin-bottom: 120px;
}
.details{
text-align:center;
}
.details-btn{
    margin-top: 48px;
}
.detail-title{
    color: #070211;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;    
}
.detail-title span{
    color: #F00;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;    
}

/* detail section End */


/* NEW BEST OFFER Section Start */
.NEW-BEST-OFFER{
    width: 1320px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 120px;
    margin-bottom: 120px;

}
.offers{
    width: 393px;
}
.offers-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 463px;
    height: 463px;
    border-radius: 463px;
    border: 15px solid #F00;    
}
.offers-date{
    width: 276px;
}
.offers h4{
    color: #F00;
    font-size: 24px;
    font-weight: 500;   
}
.offers h2{
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-top: 16px; 
    margin-bottom: 22px;   
}
.offers p{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;   
}
.offers-date h2{
    color: #F00;
    font-size: 48px;
    font-weight: 700;
}
.offers-date p{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 16px; 
    margin-bottom: 43px;  
}
/* NEW BEST OFFER Section End */